page-home {

}

ion-title{
  text-align: center;
}

.espacamento{
  padding-top: 20px;
}

.toast-message {
  text-align: center;
}

.row .col{
  border: black solid 1px;
  width: 0.1px;
}

.centro{
  text-align: center;
}
